/* CSS Document */

/* universal styles */

body {
	font-family: Helvetica, Arial;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}

a {
	color: seashell;
}


/* Header styles */

.header {
	display: flex;
	height: 69px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: seashell;
	position: fixed;
	width: 100%;
	background-color: black;
	top: 0;
	justify-content: flex-start;
	text-align: left;
	/* margin-left: 0px;
	margin-right: 0px; */
}

.logo {
	flex-basis: 1;
	flex-grow: 1;
}

/* navigation styles */

.nav li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 20px;
	
}
.nav {
	flex-basis: 1;
	text-align: left;
}

.header img {
	height: 50px;
	margin: 10px;
}



/* main content styles */
.content {
	padding-top: 100px;
}

/* mission styles */

#mission {
	display: flex;
	justify-content: center;
	background-image: url(../images/img-mission-background.jpg);
	background-position: center;
	background-size: cover;
	height: 700px;
}

#mission-text {
	background-color: black;
	width: 100%;
	align-self: center;
}

/* featured tea styles */

/* location styles */

/* contact styles */

/* footer styles */